* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* common styles */
.common-btn {
  background-color: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  border-radius: 5px;
}

/* navigation part */
header{
    background: #FFF8F3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position:bottom right;
}
.developer-img{
    position: absolute;
    top: 38px;
    bottom: 25px;
    left: 25px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.nav-title > span {
  color: #fd6e0a;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 50px; */
  padding-top: 40px;
}
.nav-items ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 200px;
}
.nav-items {
  margin-right: 180px;
}
.item {
  margin-right: 50px;
  cursor: pointer;
}
.intro {
  display: flex;
  align-items: center;
  padding-left: 200px;
  padding-right: 15px;
  margin-top: 40px;
}
.intro-img {
  width: 584px;
  height: 676px;
}
.intro-greet {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.intro-name {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.intro-desc {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  /* margin-right: 40px; */
}
.intro-contact {
  background-color: transparent;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  margin-left: 30px;
}
